In [38]:
import pandas as pd

from huggingface_hub import hf_hub_download

import ast

In [39]:
# Download the german dataset to the local data folder

hf_hub_download(
    repo_id="ai4privacy/pii-masking-200k",
    filename="german_pii_52k.jsonl",
    repo_type="dataset",
    local_dir="../data",
)

'data\\german_pii_52k.jsonl'

In [40]:
df: pd.DataFrame = pd.read_json("../data/german_pii_52k.jsonl", lines=True)

In [41]:
df.head()

,masked_text,unmasked_text,privacy_mask,span_labels,bio_labels,tokenised_text
0,'Exkursionsupdate: Wir werden uns in [ORDINALD...,'Exkursionsupdate: Wir werden uns in Northeast...,"{'[ORDINALDIRECTION_1]': 'Northeast', '[NEARBY...","[[0, 37, 'O'], [37, 46, 'ORDINALDIRECTION_1'],...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-O...","[', ex, ##kur, ##sions, ##up, ##date, :, wi, #..."
1,"Sehr geehrte[r] [PREFIX_1] [LASTNAME_1], wie u...","Sehr geehrte[r] Ms. Keeling, wie unsere Aufzei...","{'[PREFIX_1]': 'Ms.', '[LASTNAME_1]': 'Keeling...","[[0, 16, 'O'], [16, 19, 'PREFIX_1'], [19, 20, ...","[O, O, O, O, O, O, O, O, B-PREFIX, I-PREFIX, B...","[se, ##hr, gee, ##hr, ##te, [, r, ], ms, ., ke..."
2,'Wir bestätigen noch einmal die Finanzen für d...,'Wir bestätigen noch einmal die Finanzen für d...,"{'[BIC_1]': 'MGJNCGF5XXX', '[IBAN_1]': 'BH13JD...","[[0, 105, 'O'], [105, 116, 'BIC_1'], [116, 130...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[', wi, ##r, best, ##ati, ##gen, no, ##ch, ein..."
3,"[FIRSTNAME_1], wir haben eine Anfrage erhalten...","Deangelo, wir haben eine Anfrage erhalten, die...","{'[FIRSTNAME_1]': 'Deangelo', '[IBAN_1]': 'XK6...","[[0, 8, 'FIRSTNAME_1'], [8, 65, 'O'], [65, 85,...","[B-FIRSTNAME, I-FIRSTNAME, I-FIRSTNAME, O, O, ...","[dean, ##gel, ##o, ,, wi, ##r, ha, ##ben, eine..."
4,"Finanzberichte des Patienten, die [AMOUNT_1] T...","Finanzberichte des Patienten, die 358k Transak...","{'[AMOUNT_1]': '358k', '[CREDITCARDISSUER_1]':...","[[0, 34, 'O'], [34, 38, 'AMOUNT_1'], [38, 68, ...","[O, O, O, O, O, O, O, O, O, O, O, B-AMOUNT, I-...","[fin, ##an, ##z, ##ber, ##ich, ##te, des, pati..."

In [42]:
df.replace(
    {"masked_text": {"'": ""}, "unmasked_text": {"'": ""}}, regex=True, inplace=True
)

In [43]:
df.head()

,masked_text,unmasked_text,privacy_mask,span_labels,bio_labels,tokenised_text
0,Exkursionsupdate: Wir werden uns in [ORDINALDI...,Exkursionsupdate: Wir werden uns in Northeast ...,"{'[ORDINALDIRECTION_1]': 'Northeast', '[NEARBY...","[[0, 37, 'O'], [37, 46, 'ORDINALDIRECTION_1'],...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-O...","[', ex, ##kur, ##sions, ##up, ##date, :, wi, #..."
1,"Sehr geehrte[r] [PREFIX_1] [LASTNAME_1], wie u...","Sehr geehrte[r] Ms. Keeling, wie unsere Aufzei...","{'[PREFIX_1]': 'Ms.', '[LASTNAME_1]': 'Keeling...","[[0, 16, 'O'], [16, 19, 'PREFIX_1'], [19, 20, ...","[O, O, O, O, O, O, O, O, B-PREFIX, I-PREFIX, B...","[se, ##hr, gee, ##hr, ##te, [, r, ], ms, ., ke..."
2,Wir bestätigen noch einmal die Finanzen für de...,Wir bestätigen noch einmal die Finanzen für de...,"{'[BIC_1]': 'MGJNCGF5XXX', '[IBAN_1]': 'BH13JD...","[[0, 105, 'O'], [105, 116, 'BIC_1'], [116, 130...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[', wi, ##r, best, ##ati, ##gen, no, ##ch, ein..."
3,"[FIRSTNAME_1], wir haben eine Anfrage erhalten...","Deangelo, wir haben eine Anfrage erhalten, die...","{'[FIRSTNAME_1]': 'Deangelo', '[IBAN_1]': 'XK6...","[[0, 8, 'FIRSTNAME_1'], [8, 65, 'O'], [65, 85,...","[B-FIRSTNAME, I-FIRSTNAME, I-FIRSTNAME, O, O, ...","[dean, ##gel, ##o, ,, wi, ##r, ha, ##ben, eine..."
4,"Finanzberichte des Patienten, die [AMOUNT_1] T...","Finanzberichte des Patienten, die 358k Transak...","{'[AMOUNT_1]': '358k', '[CREDITCARDISSUER_1]':...","[[0, 34, 'O'], [34, 38, 'AMOUNT_1'], [38, 68, ...","[O, O, O, O, O, O, O, O, O, O, O, B-AMOUNT, I-...","[fin, ##an, ##z, ##ber, ##ich, ##te, des, pati..."

In [45]:
df[["privacy_mask", "span_labels"]] = df[["privacy_mask", "span_labels"]].apply(
    lambda col: col.apply(ast.literal_eval)
)

In [46]:
for column in df.columns:
    print(type(df[column][0]))

<class 'str'>
<class 'str'>
<class 'dict'>
<class 'list'>
<class 'list'>
<class 'list'>

In [5]:
df.masked_text.replace("'", "", regex=True, inplace=True)
df.unmasked_text.replace("'", "", regex=True, inplace=True)

In [6]:
df.privacy_mask = df.privacy_mask.apply(ast.literal_eval)
df.span_labels = df.span_labels.apply(ast.literal_eval)

In [7]:
# remove the ' characters in the tokenised_text
df.tokenised_text = df.tokenised_text.apply(
    lambda lst: [item for item in lst if item != "'"]
)

In [8]:
for column in df.columns:
    print(type(df[column][0]))

<class 'str'>
<class 'str'>
<class 'dict'>
<class 'list'>
<class 'list'>
<class 'list'>

In [9]:
df.head()

,masked_text,unmasked_text,privacy_mask,span_labels,bio_labels,tokenised_text
0,Exkursionsupdate: Wir werden uns in [ORDINALDI...,Exkursionsupdate: Wir werden uns in Northeast ...,"{'[ORDINALDIRECTION_1]': 'Northeast', '[NEARBY...","[[0, 37, O], [37, 46, ORDINALDIRECTION_1], [46...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, B-O...","[ex, ##kur, ##sions, ##up, ##date, :, wi, ##r,..."
1,"Sehr geehrte[r] [PREFIX_1] [LASTNAME_1], wie u...","Sehr geehrte[r] Ms. Keeling, wie unsere Aufzei...","{'[PREFIX_1]': 'Ms.', '[LASTNAME_1]': 'Keeling...","[[0, 16, O], [16, 19, PREFIX_1], [19, 20, O], ...","[O, O, O, O, O, O, O, O, B-PREFIX, I-PREFIX, B...","[se, ##hr, gee, ##hr, ##te, [, r, ], ms, ., ke..."
2,Wir bestätigen noch einmal die Finanzen für de...,Wir bestätigen noch einmal die Finanzen für de...,"{'[BIC_1]': 'MGJNCGF5XXX', '[IBAN_1]': 'BH13JD...","[[0, 105, O], [105, 116, BIC_1], [116, 130, O]...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...","[wi, ##r, best, ##ati, ##gen, no, ##ch, ein, #..."
3,"[FIRSTNAME_1], wir haben eine Anfrage erhalten...","Deangelo, wir haben eine Anfrage erhalten, die...","{'[FIRSTNAME_1]': 'Deangelo', '[IBAN_1]': 'XK6...","[[0, 8, FIRSTNAME_1], [8, 65, O], [65, 85, IBA...","[B-FIRSTNAME, I-FIRSTNAME, I-FIRSTNAME, O, O, ...","[dean, ##gel, ##o, ,, wi, ##r, ha, ##ben, eine..."
4,"Finanzberichte des Patienten, die [AMOUNT_1] T...","Finanzberichte des Patienten, die 358k Transak...","{'[AMOUNT_1]': '358k', '[CREDITCARDISSUER_1]':...","[[0, 34, O], [34, 38, AMOUNT_1], [38, 68, O], ...","[O, O, O, O, O, O, O, O, O, O, O, B-AMOUNT, I-...","[fin, ##an, ##z, ##ber, ##ich, ##te, des, pati..."

In [10]:
df.to_json("../data/cleaned.json")
df.to_csv("data/cleaned.csv")

In [11]:
df_json = pd.read_json("data/cleaned.json")
df_csv = pd.read_csv("data/cleaned.csv", index_col=0)

In [26]:
for column in df_json.columns:
    print(type(df_json[column][0]))

<class 'str'>
<class 'str'>
<class 'dict'>
<class 'list'>
<class 'list'>
<class 'list'>

In [28]:
for column in df_csv.columns:
    print(type(df_csv[column][0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>